@import "variables";

html {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

section {
  margin-bottom: 1.5rem;
}

.card {
  padding: 0.75rem;
  background-color: $color-gray;
  border-radius: 5px;
  border-width: 0px 0px 1px;
  border-style: none none solid;
  border-color: transparent transparent rgb(235, 236, 240);
  border-bottom: 1px solid rgb(235, 236, 240);
  margin: 1rem 0;
}

.color {
  color: $color-main;
}

.container {
  padding: 1rem;
}

.alert {
  background-color: $color-main-lighter;
  border-radius: 3px;
  padding: 5px;
}

.alert:hover {
  background-color: $color-main-lightest;
}

body,
.app-container {
  width: 100%;
  height: 100%;
}

.sidebar-region {
  padding: 0px 15px;
  background-color: $color-gray;
  text-align: center;

  .short-description {
    padding: 1rem;
  }

  .links {
    margin: 0;
    list-style-type: none;
  }
}

.content-region {
  padding: 0px 15px;
}

@media only screen and (min-width: 768px) {
  body {
    display: flex;
    width: 100%;
  }

  .app-container {
    flex-grow: 1;
    display: flex;
    width: 100vw;
  }

  .sidebar-region {
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 30%;

    .container {
      flex-grow: 1;
      padding: 0;
      display: flex;
      flex-direction: column;

      .short-description {
        flex-grow: 1;
        margin-top: 1rem;
      }
    }

    .links {
      margin: 3rem auto;
    }
  }

  .content-region {
    padding: 0;
    width: 70%;

    // scroller background
    .track-vertical {
      position: absolute;
      width: 8px !important;
      right: 5px;
      bottom: 3px;
      top: 3px;
      border-radius: 4px;
      background-color: $color-gray;
    }

    // scroller main thumb
    .thumb-vertical {
      position: relative;
      display: block;
      width: 100%;
      cursor: pointer;
      border-radius: inherit;
      background-color: $color-main-lightest;
      height: 79px;
    }
  }
}
